.input-number{
    border: 0.1rem solid rgb(172, 231, 226);
    border-radius: 0.5rem;
    width: 25%;
    text-align: center;
    padding: 1rem;
    outline: none;
}

.input-number.invalid {
    border: 0.2rem solid rgb(235, 125, 74);
}

.input-number-button {
    background: linear-gradient(to right top, #5389b6, #7798df);
    border-radius: 1rem;
    width: 28%;
    height: 2.5rem;
    outline: none;
    box-shadow:1rem;
    cursor: pointer;
    border-style: none;
    box-shadow: 0rem 1rem 0.5rem #7798df;
    color: whitesmoke;
}

.input-number-button:active {
    background-color: #27292e;
    box-shadow: 0rem 0.5rem 0.5rem #7798df;
    transform: translateY(0.2rem);
  }
  .input-number-button:disabled{
      background: grey;
      cursor: not-allowed;
  }

.static-text{
    color: rgb(90, 87, 87);
    margin-bottom: 0.8rem;
    text-align: center;
}

h3 {
    text-align: center;
}

@media only screen and (max-width: 600px){
    .input-number{
        width:75%;
    }

    .input-number-button{
        width: 85%;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .input-number{
        width:60%;
        height: 3.5rem;

    }

    .input-number-button{
        width: 65%;
        height: 4rem;
    }
}